<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <title>Movie</title>
  </head>
  <body>
    <h1>Movie</h1>
    <div class="container">
      <br />
      <br />
      <input type="button" value="Back" onclick="history.back()" /><br />
      <input type="button" value="Home" onclick="window.location='/home'" />

      <br />
      <br />
      ID : <%= movie.id %><br />
      Name : <%= movie.name %><br />
      Genres : <%= movie.genres %><br />
      Language : <%= movie.language %><br />
      Premiered : <%= movie.premiered %><br /><br />
      <% if(movie.image){ %>
      <img src="<%= movie.image.medium %> " />
      <% }else{ %>
      <img src="" />
      <% } %>
      <br /><br />
    </div>
  </body>
</html>
